@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: gray;
  background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  }
  .card-img {
    background: url('/images/mosque.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  .container{
    padding: 30px;
  }
  @media(max-width: 400px){
    .container{
      padding: 10px;
    }
  }
  
header{
  width: 100%;
  position: absolute;
}
.head-cont{
  padding: 20px 20px 15px 30px !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100px;
  background: #22242A;
}
.head-cont .medlogo{
  position: relative;
  height: 40px;
  width: 40px;
}
#page-content-wrapper {
    position: absolute;
    width: 100%;
    top: 10px !important;
    left: 10px !important;
}

.head-cont h3{
  position: absolute;
  left: 50px;
  color: #CFD8DC;
    font-size: 3em;
    font-weight: 900;
}
h3 span{
  color: #1DC4E7;
}

.login{
  position: absolute;
  background: #1983D3;
  top: 20px;
  right:20px;
  padding: 10px 25px 10px 25px;
  border-radius: 15px;
}
.login a{
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.login:hover{
  background-color: crimson;
}


/* 
HEADER */

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}
/* 
searchbar */

button{
  cursor: pointer;
}

.searchTerm {
  width: 300px;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 40px;
  top: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  cursor:pointer ;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

@media(max-width: 400px){
          .head-cont{
            height: 200px;
          }
          .head-cont h3{
            transform: scale(0.9);
          }
          .image{
            position: absolute;
            top: 100px !important;
            height: 500px !important;
            width: auto;
          }
          .sidebar{
            top: 40% !important;
            z-index:50 !important;
          }
        .searchTerm {
          width: 200px;
          position: relative;
          height: 35px;
          top: 30%;
        }
        .searchButton {
          position: relative;
          top: 30%;
          width: 35px;
          height: 35px;
          font-size: 15px;
        }
        .login{
          top: 60%;
        }
        .head-cont .medlogo{
          position: relative;
          left: -60px;
          top: -35% !important;
          transform: scale(1.2);
        }
        .big-title{
          position: absolute;
          top: 60% !important;
        }
        section .image{
          position: relative;
          top: 70px !important;
          transform: scale(0.9);
        }
        .about-p{
          font-weight: 200;
          font-size: 10px !important;
          line-height: 5px;
        }
        .about{
          padding-top: 300px;
          overflow: wrap;
          height: 600px;
          padding-bottom: 300px;
        }
        .about-logo{
          display:none;
        }
        .about-image{
          position: absolute;
          padding-top: 100px;
          background-image: -o-repeating-linear-gradient(0.0.0.0.2);
          background-repeat: space !important;
          height: 300px;
          width: 200px;
        }
        .container{
          transform: scale(0.5);
        }
}
/* 
searchbar */

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/



.hamburger {
  top: 30px;
  position: fixed;
  z-index: 1;
  display: block;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
}

.hamburger.is-closed:before {
  content: '';
  display: block;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  transform: translate3d(0,0,0);
  transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  transform: translate3d(-100px,0,0);
  transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #1a1a1a;
}


.hamburger.is-closed .hamb-top { 
  top: 5px; 
 transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
 transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
 transform: rotate(45deg);
  transition: .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  transform: rotate(-45deg);
  transition: .2s cubic-bezier(.73,1,.28,.08);
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.sidebar{
    background: #2F323A;
    top: 20%;
    position: fixed;
    left: -250px;
    width: 250px;
    transition: 0.5s;
    transition-property: left;
    z-index: 20;
}
.sidebar ul{
  width: 250px;
  background: #2F323A;
  z-index: 20;
}
.sidebar ul li{
  border-bottom: 1px solid #CFD8DC;
  z-index: 20;
}
.sidebar ul li a span{
  padding: 0 10px 0 10px;
  z-index: 20;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    z-index: 20;
}
.sidebar a:hover{
    background: #1983D3;
    color: crimson;
}


label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: poiter;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar_btn:hover{
    color: #19B3D3;
}
#check:checked ~ .sidebar{
    left: -190px !important;
}
#check:checked ~ .sidebar a span{
    display: none !important;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
/* 
NEURMORPH PAGE */

.login-div{
  position: relative;
  width: 430px;
  height: 700px;
  padding: 20px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  overflow: visible;
}
.logo{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0px 0px 2px #5f5f5f,
  0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px 8px 15px #ffffff;
}
.logo img{
  height: 90px;
  width: 90px;
  padding-right: 8px;
}
.title{
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  color: goldenrod !important;
  letter-spacing: 0.5px;
  font-family: 'Abril Fatface', cursive;
}
span{
  color: #1DC4E7;
  font-family: 'Abril Fatface', cursive;
}
.sub-title{
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: 3px;
}
.fields{
  width: 90%;
  padding: 10px 5px 5px 5px; 
}
.fields input{
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 10px 10px 20px 5px;
}
.username, .password{
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, 
  inset -8px -8px 8px #ffffff;
}
.fields svg{
  height: 22px;
  margin: 0 10px -3px 25px;
}
.sign-button{
  position: absolute;
  right: -180px !important;
  top: 200px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
  transform: rotate(90deg);
}
.sign-button:hover{
  background: #0b745b;
}
.sign-button:active{
  background: #9ee9d9;
}
.link{
  text-align: center;

}
.link a{
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
}
.link a:hover{
  color: crimson;
  transform: scale(1.2) !important;
}