@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body {
  padding: 0;
  margin: 0;
   background: #ecf0f3;
   background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header{
  width: 100%;
  position: absolute;
}
.head-cont{
  padding: 20px 10px 15px 20px !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100px;
  background: #22242A;
}
.head-cont .medlogo{
  position: relative;
  height: 40px;
  width: 40px;
}
.head-cont .medlogo2{
  position: absolute;
  margin-top: 15px;
  left: 25%;
  height: 40px;
  width: 40px;
}
@media(max-width: 420px){
  .head-cont .medlogo2{
    position: absolute;
    margin-top: 50px;
    left: 5%;
    height: 40px;
    width: 40px;
  }
}
@media(max-width: 400px){
  .head-cont .medlogo2{
    position: absolute;
    margin-top: 50px;
    left: 5%;
    height: 40px;
    width: 40px;
  }
  .head-cont h3{
    left: 5px !important;
      font-size: 2.7em;
      z-index: 30;
  }
}
#page-content-wrapper {
    position: absolute;
    width: 100%;
    top: 10px !important;
    left: 10px !important;
}

.head-cont h3{
  position: absolute;
  left: 50px;
  color: #CFD8DC;
    font-size: 3em;
    font-weight: 900;
}
h3 span{
  color: #1DC4E7;
}

.login{
  position: absolute;
  background: #1983D3;
  top: 20px;
  right:20px;
  padding: 10px 25px 10px 25px;
  border-radius: 15px;
  list-style:none;
  text-decoration: none;
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.login:hover{
  background-color: crimson;
  color: crimson;
}


/* 
HEADER */

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}
/* 
searchbar */

button{
  cursor: pointer;
}

.searchTerm {
  width: 300px;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 40px;
  top: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  cursor:pointer ;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

@media(max-width: 420px){
          .head-cont{
            height: 200px;
          }
          .head-cont h3{
            transform: scale(0.9);
          }
          .head-cont h3 span{
            transform: scale(0.9);
          }
          .hospital{
            position: relative;
            padding-top: 200px !important;
            height: 100%;
            width: 100%;
            opacity: .9;
            z-index: 1;
          }
          .image{
            position: relative;
            bottom: 0 !important;
            height: 190px !important;
            width: auto;
            z-index: 5;
          }
          .sidebar{
            top: 40% !important;
            z-index:50 !important;
          }
        .searchTerm {
          width: 200px;
          position: relative;
          height: 35px;
          top: 30%;
        }
        .searchButton {
          position: relative;
          top: 30%;
          width: 35px;
          height: 35px;
          font-size: 15px;
        }
        .login{
          top: 60%;
        }
        .head-cont .medlogo{
          position: relative;
          transform: scale(1.2);
        }
        .big-title{
          position: absolute;
          top: 60% !important;
        }
        .about-p{
          font-weight: 200;
          font-size: 10px !important;
          line-height: 5px;
        }
        .about{
          padding-top: 300px;
          overflow: wrap;
          height: 600px;
          padding-bottom: 300px;
        }
        .about-logo{
          display:none;
        }
        .about-image{
          position: absolute;
          padding-top: 100px;
          background-image: -o-repeating-linear-gradient(0.0.0.0.2);
          background-repeat: space !important;
          height: 300px;
          width: 200px;
        }
        .container2{
          transform: scale(0.6);
        }
       
}
/* 
searchbar */

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/



.hamburger {
  top: 30px;
  position: fixed;
  z-index: 1;
  display: block;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
}

.hamburger.is-closed:before {
  content: '';
  display: block;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  transform: translate3d(0,0,0);
  transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  transform: translate3d(-100px,0,0);
  transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #1a1a1a;
}


.hamburger.is-closed .hamb-top { 
  top: 5px; 
 transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
 transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
 transform: rotate(45deg);
  transition: .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  transform: rotate(-45deg);
  transition: .2s cubic-bezier(.73,1,.28,.08);
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.sidebar{
    background: #2F323A;
    top: 20% !important;
    position: fixed;
    left: -250px;
    width: 250px;
    transition: 0.5s;
    transition-property: left;
    z-index: 33;
}
@media(max-width: 420px){
  .sidebar{
    top: 18% !important;
  }
}
.sidebar ul{
  width: 250px;
  background: #2F323A;
  z-index: 33;
}
.sidebar ul li{
  border-bottom: 1px solid #CFD8DC;
  z-index: 32;
}
.sidebar ul li a span{
  padding: 0 10px 0 10px;
  z-index: 31;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    z-index: 31;
}
.sidebar a:hover{
    background: #1983D3;
    color: crimson;
}


label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: poiter;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar_btn:hover{
    color: #19B3D3;
}
#check:checked ~ .sidebar{
    left: -190px !important;
}
#check:checked ~ .sidebar a span{
    display: none !important;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
/* 
Title */
.big-title{
  position: absolute;   
  width: 90vmin;
  height: 90vmin;
  left: 50%;
  right: 50%;
  z-index: 30;
  top: calc(60% - 2rem);
  transform: translate(-50%, -50%);
}
.big-title > div {
height: 50%;
overflow: hidden;
position: absolute;
width: 100%;
}
.big-title > div div {
position: absolute;
padding: 1vmin 0;
}
.big-title > div div ol {
display: block;
}
.big-title > div.text-top{
border-bottom: 1vmin solid #CFD8DC;
top:0;
}
.big-title > div.text-top div{
animation: zoom 1s;
animation-delay: 0.5s;
animation-fill-mode: forwards;
bottom: 0;
transform: translate(0, 100%);
}
.big-title > div.text-top div ol:first-child {
text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
  color: #CFD8DC;
}

.big-title > div.text-bottom {
bottom: 0;
}
.big-title > div.text-bottom div {
animation: zoom-out 0.5s;
animation-delay: 1.0s;
animation-fill-mode: forwards;
top: 0;
transform: translate(0, -100%);
}
@keyframes zoom-out {
0% { transform: translate3d(0, -100%, 0); }
100% { transform: translate3d(0, 0, 0); }
}

@keyframes zoom {
0% { transform: translate3d(0, 100%, 0); }
40%, 60% { transform: translate3d(0, 50%, 0); }
100% { transform: translate3d(0, 0, 0); }
}


.s1{
  position: relative;
  top: 30px;
  font-size: 5rem;
  font-weight: 700;
  font-family: 'Abril Fatface', cursive;
  z-index: 30;
  text-align: center;
  line-height: 4rem;
  text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
  color: #CFD8DC;
}
small{
font-size: 3rem;
font-weight: 500;
}
.small{
font-size: 3rem;
font-weight: 500;
text-decoration: underline;
}
.s2{
  position: relative;
  font-family: 'Abril Fatface', cursive;
  z-index: 30;
  line-height: 4rem;   
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
  color: #1983D3;  
}

.s3{
  position: relative;
  z-index: 30;
  font-family: 'Abril Fatface', cursive;
  line-height: 4rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
  color: #1983D3;
}

.image{
  position: absolute;
  bottom: 0;
  height: 450px;
  width: auto;
}
/* ABOUT */
.about{
  position: absolute;
  margin-top: 3in;
  z-index: 2;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 700px;
  overflow-wrap: normal;
}
@media(max-width: 600px){
  .about{
    margin-top: -.5in !important;
  }
}
.about-image{
  z-index: -2;
  transform: scale(1.4);
  opacity: 0.3;
}

.about-h{
  color: rgb(22, 21, 18);
  font-size: 3em;
  font-weight: 500;
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
}
.about-p{
  padding-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
}

/* 
ABOUT */
/* 
SECTION */

section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow-wrap: normal;
}
section .hospital{
  padding-top: 100px;
  height: 100%;
  width: 100%;
  opacity: .8;
}
section .container{
  position: absolute;
  top: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

section .container .card{
    position: relative;
    width: 300px;
    height: 440px;
    border-radius: 15px;
    margin: 30px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                -5px -5px 5px rgba(255,255,255,0.5),
                -5px -5px 5px rgba(255,255,255,0.5);
                
} 
section .container .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background: linear-gradient(45deg,#b95ce4,#4f29cd);
}
section .container .card:hover .box .content h4,
section .container .card:hover .box .content p{
    color: #fff;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important;
}
section .container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20x;
    bottom: 20px;
    width: 85%;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 0.5s;
}

section .container .card .box .content{
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
    overflow: hidden !important;
}
section .container .card .box .content h3{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 2em;
    color:black;
    transition: 0.5s;
    z-index: 12;
    font-family: 'Abril Fatface', cursive;
} 
section .container .card:hover .box .content h3{
    color: rgba(0,0,0,0.05);
}
 .content .card-title{
   padding-top: 20px;
   color: black;
    font-size: 1.2em;
    z-index: 1;
    transition: 0.5s;
    z-index: 12;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important;
}
section .container .car .box .content p{
    font-size: 1em;
    font-weight: 300;
    color: #777;
    transition: 0.5s;
    z-index: 12;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important; 
    overflow-x: hidden !important;
}
.content .btn{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn2 {
    position: relative;
    text-align: center;
    left: 30%;
    border: 2px #2F323A;
}
a:hover{
    color: #ff568f;
}
/* FOR SINGLE COURSE ONLY */


section .container2 .card2{
    position: relative;
    width: 450px;
    height: 590px;
    border-radius: 15px;
    margin: 30px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                -5px -5px 5px rgba(255,255,255,0.5),
                -5px -5px 5px rgba(255,255,255,0.5);
} 
section .container2 .card2:hover .box2{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background: linear-gradient(45deg,#b95ce4,#4f29cd);
}
section .container2 .card2:hover .box2 .content2 h3,
section .container2 .card2:hover .box2 .content2 p{
    padding-top: 10px !important;
    color: #fff !important;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important;
}
section .container2 .card2 .box2{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 10x;
    bottom: 20px;
    width: 90%;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 0.5s;
}

section .container2 .card2 .box2 .content2{
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
}
section .container2 .card2 .box2 .content2 h3{
    position: relative;
    top: 10px;
    font-size: 3em;
    color: black;
    transition: 0.5s;
    z-index: 20;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important;
} 
section .container2 .card2:hover .box2 .content2 h3{
    color: rgba(0,0,0,0.01);
}
 .content .card-title{
   padding-top: 20px;
   color: black;
    font-size: 2em;
    z-index: 1;
    transition: 0.5s;
    z-index: 12;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important;
}
section .container2 .card2 .box2 .content2 p{
    font-size: 1.3em;
    font-weight: 300;
    color: #777;
    transition: 0.5s;
    z-index: 12;
    text-shadow: 2px 10px 10px rgba(0,0,0,0.5) !important;
}
.content2 .btn{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.content2 a:hover{
    background: #ff568f;
}
.hidden{
  display:hidden !important;
  opacity: 0;
}
.space{
  width: 100%;
  height:20vh;
}
/* 
.nav-linker{
  position: absolute;
  top: 5%;
  left: 50%;
  cursor: pointer;
  height: 50px;
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
  list-style:none;
  text-decoration: none;
}
.nav-linker:hover{
  background-color: crimson;
} */
.nav-link{
  text-align: center;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
  list-style:none;
  cursor: pointer !important;
  height: 50px;
  padding: 10px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 20px;
  z-index: 30;
}
.head-cont span .nav-item{
  position: relative;
  top: 15px !important;
  cursor: pointer;
  z-index: 30;
}
#navSession{
  z-index: 30;
}
.head-cont span .nav-item:hover{
  cursor: pointer;
}
.nav-link:hover{
  background-color: #1983D3;
  color: crimson;
  cursor: pointer;
}
@media(max-width: 420px){
  .nav-link{
    position: relative;
    top: 70px;
  }
}
span{
  list-style: none !important;
  text-decoration: none !important;
}
.isAdmin{
  position: relative;
  padding: 10px;
  background-color: #1983D3;
  z-index: 40;
  border-radius: 35px;

}
.isAdmin a{
  color: #fff;
  list-style: none;
  text-decoration:  none;
}
@media(max-width: 420px){
  .isAdmin{
    top: 30%;
    left: -50px;
    transform: scale(0.8);
  }
}
.isAdmin:hover{
  background-color: crimson;
}
.nav-item a{
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.logout{
  position: absolute;
  right:0;
  margin-right: 20px;
}
.logout:hover{
  color: crimson !important;
}
.red{
  color: red !important;
}
#deleted{
  position: relative;
  top: 20px !important;
}

#adminButton:hover{
  color: crimson;
}

#zuitterNav{
  text-shadow: 2px 10px 10px rgba(0,0,0,0.5);
  color: #CFD8DC;
  font-weight: 800;
  font-size: 1.8em;
}


.logo-med{
  height: 130px;
  width: 150px;
}
.container2{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index:3;
}

/* sectionpart for cards */

main{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #CFD8DC;
  min-height: 90vh;
  opacity: 0.9;
}
.container3{
  position: relative;
  width: 1000px;
  display: flex;
  background-color: #CFD8DC;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}
.container3 .card3{
  position: relative;
  height: 250px;
  background: #fff;
  display: flex;
  width: 45%;
  margin: 30px 0;
}
.container3 .card3 .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.container3 .card3:hover .imgBx{
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% -75px);
  transition: 0.5s ease-in-out;
  background: #1DC4E7;
}
.container3 .card3 imgbx:before{
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-style: 6em;
  color: rgba(255,255,255,.05);
  font-weight: 700;
}

.container3 .card3 .imgBx img{
  max-width: 100px;
  transition: 0.5s ease-in-out;
}

.container3 .card3:hover .imgBx img{
  max-width: 75px;
}
.container3 .card3 .content{
  position: absolute;
  right:0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container3 .card3 .content h3{
  margin-bottom: 5px;
  font-size: 24px;
}
.container3 .card3 .content a{
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #333;
  text-decoration: none;
  color: #fff;
}
.container3 .card3 .content input{
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
}
.container3 .card3 .content .submit{
  display: inline-block;
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #1DC4E7;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

@media(max-width: 992px){
  .container3{
      width: 100%;
      flex-direction: column;
      align-items: center;
  }
  .container3 .card3{
      width: 400px;
  }
}
@media(max-width: 768px){
  .container3 .card3{
      max-width: 300px;
      flex-direction: column;
      height: auto;
  }
  .container3 .card3 .imgBx{
      position: relative;
  }
  .container3 .card3 .imgBx,
  .container3 .card3:hover .imgBx{
      width: 100%;
      height: 200px;
      left: 0;
  }
  .container3 .card3 .imgBx img,
  .container3 .card3:hover .imgBx img{
      max-width: 100px;
  }
  .container3 .card3 .content{
      position: relative;
      width: 100%;
      transform: scale(0.8);
  }
}

/* footer part */
footer{
  position: relative;
  bottom: -2in !important;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .container .sec{
  position: relative;
  margin-right: 30px;

}
footer .container .aboutus{
  width: 40%;
}
/* footer .aboutus{
  width: 300px !important;
} */
footer .container h2{
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .container h2:before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
footer p{
  color: #999;
}
.sci{
  margin-top: 20px;
  display: flex;
}
.sci li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
 justify-content: center;
 align-items: center;
 margin-right: 10px;
 text-decoration: none;
 border-radius: 4px;
}
.sci li a i{
  top: 10px;
  left: 10px;
  position: relative !important;
  transform: scale(1.7);
}
.sci li a:hover{
  background: #f00;
}
.sci li a .fa{
  color: #fff;
  font-size: 20px;
}

.quicklinks{
  position: relative;
  width: 25%;
}
.quicklinks ul li{
  list-style:none;
}
.quicklinks ul li a{
  color: #999;
  text-decoration: none;
  display: inline-block;
}
.quicklinks ul li a:hover{
  color: #fff;
}
.contact{
  width: calc(35% - 60px);
  margin-right: 0 !important;
}
.contact ul{
  position: relative;
}
.contact ul li{
  display: flex;
  margin-bottom: 5px;
  list-style: none;
  color: #fff !important;
  text-decoration: none;
}
.contact ul li i{
  position: absolute;
  color: #fff !important;
  font-size: 20px;
  margin-right: 10px;
}
.contact ul li{
  color: #999;
  text-decoration: none;
  list-style: none;
}
.material-icons{
  position: relative;
  z-index: 10;
  color: #999;
}

.contact ul li a:hover{
  color: #fff;
}
.copyrightText{
  position: relative;
  bottom: -.3in !important;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #999;
}
@media(max-width: 991px){
  footer{
      padding: 40px;
  }
  footer .container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 5px;
  }
  footer .container .sec{
      margin-right: 0;
      margin-bottom: 40px;
  }
  footer .container .sec .aboutus,.quicklinks,.contact{
      width: 100%;
  }
  .copyrightText{
      bottom: 10px !important;
      display: flex;
      justify-content: center;
  }
}
.aboutfoot{
  position: relative;
  width: 100%;
  height: 1px;
}
@media(max-width: 600px){
  footer{
    padding: 20px 20px;
  }
  footer .container .aboutus{
    width: 45%;
  }
  .aboutfoot{
    position: relative;
    width: 100%;
    height: 350px;
  }
}